.p1{
    background-color: rgb(255, 255, 255);
}
}
.title{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
.container{
    display: flex;
    justify-content: space-between;
}
.box{
    width: 50%;
    backgound-color: lightblue;
    padding: 20px;
    text-align: left;
}
